<header id="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#body">
                <img src="./img/Logo IA Box.jpg" width="110" height="40" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>                
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul id="nav" class="navbar-nav ml-auto">
                  <li>
                    <a class="nav-link " href="#servicios">SERVICIO</a>
                  </li> 
                  <li>
                        <a class="nav-link" href="#productos">PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#algoritmos">ALGORITMOS</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">CLIENTES</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">CONTACTO</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header><!-- #header -->
